!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title LDS Temple Quiz
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application'
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"
    = javascript_include_tag "http://maplacejs.com/src/maplace-0.1.3.min.js"
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .row
      .large-12.columns
        = yield
